*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #FEF7EE;
  --border-color: #F4DEC3;
  --green: #C2E07A;
  --peach: #FFBCB5;
  --text-color: #3F3D3D;
}

body {
  background-color: var(--background-color);
}

.h1{
  font-family: "Comfortaa", serif;
  font-size: 36px;
  line-height: 100%;
  color: var(--text-color);
}

.h2{
  font-family: "Comfortaa", serif;
  font-size: 24px;
  line-height: 100%;
  color: var(--text-color);
}

.h3{
  font-family: "Lato", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color);
}

.p-medium{
  font-family: "Lato", serif;
  font-size: 16px;
  line-height: 140%;
  color: var(--text-color);
}

.p-small{
  font-family: "Lato", serif;
  font-size: 14px;
  line-height: 140%;
  color: var(--text-color);

}

.btn-primary{
  background-color: var(--green);
  color: var(--text-color);
  font-family:"Lato", serif;
  border-radius: 50px;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled{
    background-color: #CFCFCF;
  }
}

.btn-secondary{
  background-color: var(--peach);
  color: var(--text-color);
  font-family:"Lato", serif;
  border-radius: 50px;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled{
    background-color: #CFCFCF;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 40px;
  }
  .h1 {
    font-size: 44px;
  }
  .h2 {
    font-size: 34px;
  }
  .p-medium {
    font-size: 18px;
  }
  .p-small {
    font-size: 16px;
  }
  .btn-primary {
    padding: 1rem 1.5rem;
    font-size: 16px;
    height: 45px;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 60px;
  }
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 40px;
  }
  .p-medium {
    font-size: 20px;
  }
  .p-small {
    font-size: 18px;
  }
  .btn-primary {
    padding: 1.2rem 2rem;
    font-size: 18px;
  }
}
